/*
  Coming-Soon Stylesheet
  @ author:  MAbdurrahman
  @ date:  25 September 2018
  @ version:  1.0.0
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------------COMING-SOON STYLESHEET BEGINS-----------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

*::-moz-focus-inner {
    border: 0;
}

*:focus {
    outline: none;
}

body {
    /*height: 100%; */
    height: 100%;
    background-color: #23252f;

}

.container {
    position: relative;
    margin: 0;
    padding: 1%;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;

}

#heading h1 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8%;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 8px;
    color: white;
    line-height: 1.5em;
    padding: 0 auto;
}

#main-content {
    position: relative;
    width: 100%;
    height: 100%;

}

#typing-text {
    height: 20%;
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    color: #c79b1b;
    margin-bottom: 12px;
    padding: 0 1%;
}

.container p {
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.25em;
    color: #fff;
    margin-bottom: 20px;
    padding: 0 2%;

}

#dividing-line {
    border: solid #c79b1b;
    border-width: 5px 0 0;
    margin: 20px auto 10px;
    padding: 13px auto;
    width: 90%;

}

/*------the counter --------*/

#counter {
    width: 95%;
    color: #fff;
    text-align: center;
    margin: 5px auto;
}

#counter span {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1em;
    display: block;
    padding: 15px auto;
    min-width: 25%;
    float: left;
}

#counter span em {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 3px;
    display: block;
    color: #cccccc;

}

/*-----------button for the modal dialog ------------*/

#Button-modal {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-top: 13%;
    margin-bottom: 5%;
    color: #FAF0F7;
    background-color: #B80920;
    border: 2px solid #B80920;
    border-radius: 3px;
    cursor: pointer;
    outline: none !important;

}

#Button-modal:hover {
    color: #B80920;
    border: 2px solid #B80920;
    background: #FAF0F7;
    outline: none !important;

}
#Button-modal:focus,
#Button-modal:active {
    outline: none !important;
}
.btn:focus,
.btn:active {
    outline: none !important;
}
.btn-lg:focus,
.btn-lg:active {
    outline: none !important;
}


/* about-me-modal dialog*/

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(199, 155, 27, 0.6);
    opacity: 0.3;
    transition: opacity 0.2s;;
}

.modal-dialog {
    width: 98%;
    /* height: 66.667%; */
    height: 100px;
    margin: 1%;
    background-color: #23252f;

    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: margin 0.2s;
    z-index: 100
}

.modal-dialog #close-button {
    width: 24px;
    height: 24px;
    background-image: url("../img/close_icon.png");
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;

}

.modal-title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;

}

.modal-dialog .modal-body {
    height: 66%;
    width: 100%;
    background-color: #23252f;
    color: #fff;
}

#about-me-modal .left-half {
    width: 50%;
    height: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

#about-me-modal .right-half {
    width: 50%;
    height: 100%;
    float: right;
    padding: 0;
    margin: 0;
}

#about-me-modal.left-half.title,
#about-me-modal .right-half.title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: 900;
    margin-bottom: 2px;
    background-color: #23252f;
    color: #c79b1b;

}

#about-me-modal.right-half.body-right {
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-size: 8px;
    text-align: left;
    line-height: 1.333em;
    letter-spacing: 2px;

}
.body-right > a {
    text-decoration: none;
    color: #fff;
}

/*---Left-half of about-me-modal Dialog ----*/
div.title-left {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 2px;
    margin-left: 4%;
    margin-bottom: 5px;
    background-color: #23252f;
    color: #c79b1b;

}

div.body-left p {
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-size: 9px;
    text-align: left;
    line-height: 1.333em;
    letter-spacing: 2px;

}

/*----Right-half of the about-me-modal Dialog ----*/
div.title-right {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 4%;
    background-color: #23252f;
    color: #c79b1b;

}

div.body-right {
    font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
    font-size: 9px;
    text-align: left;
    margin-left: 3%;
    line-height: 1.333em;
    letter-spacing: 2px;

}

/*----------------Bottom Navigation ------------*/
.navbar-inverse.navbar-fixed-bottom div.container {
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: -1%;
    z-index: 5;
    width: 100vw;
    height: 80px;
    background-color: rgba(199, 155, 27, 1.0);

}

.navbar-fixed-bottom {
    height: 80px
}

#Social-media {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 0;
    text-align: center;

}

#Social-media.navbar-text {
    margin: 0;
    padding: 0;
}

#Social-media > a > i {
    font-size: 14px;
    padding: 0 3%;
    color: #23252f;
}

#Copyright {
    width: 100%;

}

#Copyright.navbar-text {
    padding-top: 0;
    padding-bottom: 2%;
    margin: 0 auto;
}

#Copyright p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    padding-top: 0;
    padding-bottom: 3%;
    font-weight: 700;
    line-height: 1em;
    color: #23252f;
}

/*------------------------------MEDIA QUERIES-------------------*/

@media (min-width: 574px) and (max-width: 992px) {
    body {
        /*background-color: #2aabd2; */
        background-color: #23252f;
        height: 100%;
    }

    #Wrapper.container {
        max-width: 100vw;

    }

    #heading h1 {
        font-size: 30px;
    }

    #typing-text {
        font-size: 28px;
    }

    .container p {
        font-size: 18px;
        line-height: 1.3333em;
        width: 66%;
    }

    #dividing-line {
        border: solid #c79b1b;
        border-width: 5px 0 0;
        margin: 20px auto 5px;
        padding: 13px auto;
        width: 75%;

    }

    #counter.counter-group {
        width: 100%;
        height: 60px;
        color: #fff;
        margin: 0;
        text-align: center;
        position: relative;
        top: 0;
    }

    #counter span {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 34px;
        font-weight: 400;
        line-height: 1em;
        display: block;
        padding: 20px auto;
        min-width: 25%;

    }

    #counter p {
        position: relative;
        text-align: center;
        /* top: 15%;
         left: 15%; */
        margin: 0 auto;

    }

    #counter span em {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 3px;
        display: block;
        color: #cccccc;

    }

    #Button-modal {

        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        word-spacing: 2px;
        /*margin: 55px auto;*/
        margin: 40px auto 10px;
        color: #FAF0F7;
        background-color: #B80920;
        border: 2px solid #B80920;
        border-radius: 3px;
        cursor: pointer;

    }
    

    /*----------Bottom Navigation for media (min-width: 574px) and (max-width: 992px)-------------*/
    #Bottom-navigation {
        max-width: 100%;
        margin: 0;
    }

    #Bottom-container {
        max-width: 100%;
        height: 80px;
    }

    .navbar-inverse.navbar-fixed-bottom div.container {
        height: 105%;
    }

    #Social-media {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 45%;
        margin: 5px auto;
        padding-right: 2%;
    }

    #Social-media > a > i {
        padding-right: 20px;
        color: #23252f;
        font-size: 16px;
    }

    #Copyright.navbar-text {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 55%;
        margin: 5px auto;
        padding: 0;
    }

    #Copyright p {
        font-size: 12px;
    }

    /*---------about-me-modal dialog ------media (min-width: 574px) and (max-width: 992px)----- */
    .modal {
        width: 100%;
        height: 100%;
        background-color: rgba(199, 155, 27, 0.6);
        opacity: 0.3;
        transition: opacity 0.2s;;
    }

    .modal-dialog {
        width: 98%;
        /* height: 66.667%; */
        height: 100px;
        margin: 1%;
        background-color: #23252f;

        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
        border-radius: 3px;
        transition: margin 0.2s;
        z-index: 100
    }

    .modal-dialog #close-button {
        width: 24px;
        height: 24px;
        background-image: url("../img/close_icon.png");
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 8px;

    }

    .modal-title {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;

    }

    .modal-dialog .modal-body {
        height: 66%;
        width: 100%;
        background-color: #23252f;
        color: #fff;
    }

    #about-me-modal .left-half {
        width: 50%;
        height: 100%;
        float: left;
        padding: 0;
        margin: 0;
    }

    #about-me-modal .right-half {
        width: 50%;
        height: 100%;
        float: right;
        padding: 0;
        margin: 0;
    }

    #about-me-modal.left-half .title,
    #about-me-modal.right-half .title {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 900;
        margin-bottom: 2px;
        background-color: #23252f;
        color: #c79b1b;

    }

    #about-me-modal.right-half .body-right {
        font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
        font-size: 8px;
        text-align: left;
        line-height: 1.333em;
        letter-spacing: 2px;

    }


    /*---Left-half of about-me-modal Dialog ----*/
    div.title-left {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px;
        margin-left: 4%;
        margin-bottom: 5px;
        background-color: #23252f;
        color: #c79b1b;

    }

    #about-me-modal.left-half .body-left {
        text-align: left;
        text-align: -webkit-left;
        text-align: -moz-left;
    }

    div.body-left p {
        font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
        font-size: 9px;
        text-align: left;
        line-height: 1.333em;
        letter-spacing: 2px;
        margin: 0;
        padding-left: 0;

    }


    /*----Right-half of the about-me-modal Dialog ----*/
    div.title-right {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 4%;
        background-color: #23252f;
        color: #c79b1b;

    }

    div.body-right {
        font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
        font-size: 9px;
        text-align: center;
        margin-left: 3%;
        line-height: 1.333em;
        letter-spacing: 2px;

    }

}

/* Large Devices, Wide Screens */

@media (min-width: 993px) and (max-width: 1200px) {
    body {
        /*background-color: #3e8f3e; */
        background-color: #23252f;
    }

    #Wrapper.container {
        max-width: 100vw;

    }

    #heading h1 {
        font-size: 36px;
    }

    #typing-text {
        font-size: 30px;
    }

    .container p {
        font-size: 24px;
        line-height: 1.3333em;
        width: 66%;
    }

    #dividing-line {
        border: solid #c79b1b;
        border-width: 5px 0 0;
        margin: 20px auto 5px;
        padding: 13px auto;
        width: 75%;

    }

    #counter.counter-group {
        width: 100%;
        height: 60px;
        color: #fff;
        margin: 15px 0 0 0;
        text-align: center;
        position: relative;
        top: 0;
    }

    #counter span {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 1em;
        display: block;
        padding: 20px auto;
        min-width: 25%;

    }

    #counter p {
        position: relative;
        text-align: center;
        /* top: 15%;
         left: 15%; */
        margin: 0 auto;

    }

    #counter span em {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 3px;
        display: block;
        color: #cccccc;

    }

    #Button-modal {

        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        word-spacing: 2px;
        /*margin: 55px auto;*/
        margin: 8% auto 10px;
        color: #FAF0F7;
        background-color: #B80920;
        border: 2px solid #B80920;
        border-radius: 3px;
        cursor: pointer;

    }

    /*----------Bottom Navigation for media (min-width: 993px) and (max-width: 1200px)-------------*/
    #Bottom-navigation {
        max-width: 100%;
        margin: 0;
    }

    #Bottom-container {
        max-width: 100%;
        height: 80px;
    }

    .navbar-inverse.navbar-fixed-bottom div.container {
        height: 105%;
    }

    #Social-media {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 45%;
        margin: 5px auto;
        padding-right: 2%;
    }

    #Social-media > a > i {
        padding-right: 20px;
        color: #23252f;
        font-size: 16px;
    }

    #Copyright.navbar-text {
        display: inline-block;
        position: absolute;
        left: -20px;
        width: 55%;
        margin: 5px auto;
        padding: 0;
    }

    #Copyright p {
        font-size: 13px;
    }

    /*---------about-me-modal dialog ------media (min-width: 993px) and (max-width: 1200px)----- */
    .modal {
        width: 100%;
        height: 100%;
        background-color: rgba(199, 155, 27, 0.6);
        opacity: 0.3;
        transition: opacity 0.2s;;
    }

    .modal-dialog {
        width: 520px;
        /* height: 66.667%; */
        height: 375px;
        margin: 1%;
        background-color: #23252f;

        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
        border-radius: 3px;
        transition: margin 0.2s;
        z-index: 100
    }

    .modal-dialog #close-button {
        width: 24px;
        height: 24px;
        background-image: url("../img/close_icon.png");
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 8px;

    }

    .modal-content {
        width: 520px;
        height: 375px;
    }

    .modal-title {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;

    }

    .modal-dialog .modal-body {
        height: 66%;
        width: 100%;
        background-color: #23252f;
        color: #fff;
    }

    #about-me-modal.left-half {
        width: 50%;
        height: 100%;
        float: left;
        padding: 0;
        margin: 0;
    }

    #about-me-modal.right-half {
        width: 50%;
        height: 100%;
        float: right;
        padding: 0;
        margin: 0;
    }

    #about-me-modal.left-half.title,
    #about-me-modal.right-half.title {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 900;
        margin-bottom: 2px;
        background-color: #23252f;
        color: #c79b1b;

    }

    #about-me-modal.right-half .body-right {
        font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
        font-size: 8px;
        text-align: left;
        line-height: 1.333em;
        letter-spacing: 2px;

    }

    /*---Left-half of about-me-modal Dialog for (min-width: 993px) and (max-width: 1200px)----*/
    div.title-left {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px;
        margin-left: 4%;
        margin-bottom: 5px;
        background-color: #23252f;
        color: #c79b1b;

    }

    div.body-left p {
        font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
        font-size: 9px;
        text-align: left;
        line-height: 1.333em;
        letter-spacing: 2px;
        margin: 0;
        padding-left: 0;

    }

    /*----Right-half of the about-me-modal Dialog for (min-width: 993px) and (max-width: 1200px)----*/
    div.title-right {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 4%;
        background-color: #23252f;
        color: #c79b1b;

    }

    div.body-right {
        font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
        font-size: 9px;
        text-align: center;
        margin-left: 3%;
        line-height: 1.333em;
        letter-spacing: 2px;

    }

}

@media (min-width: 1201px) {

    body {
       /* background-color: #ac2925; */
        background-color: #23252f;
    }

    #Wrapper.container {
        max-width: 100vw;

    }

    #heading h1 {
        font-size: 40px;
        font-weight: bold;
    }

    #typing-text {
        font-size: 36px;
        letter-spacing: 2px;
    }

    .container p {
        font-size: 24px;
        line-height: 1.3333em;
        width: 66%;
    }

    #dividing-line {
        border: solid #c79b1b;
        border-width: 5px 0 0;
        margin: 20px auto 5px;
        padding: 13px auto;
        width: 75%;

    }

    #counter.counter-group {
        width: 100%;
        height: 60px;
        color: #fff;
        margin: 15px 0 0 0;
        text-align: center;
        position: relative;
        top: 0;
    }

    #counter span {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 75px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 1em;
        display: block;
        padding: 20px auto;
        min-width: 25%;

    }

    #counter p {
        position: relative;
        text-align: center;
        /* top: 15%;
         left: 15%; */
        margin: 0 auto;

    }

    #counter span em {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 3px;
        display: block;
        color: #cccccc;

    }

    #Button-modal {
        position: absolute;
        top: 290px;
        left: 45%;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        word-spacing: 2px;
        /*margin: 55px auto;*/
        margin: 20px auto 10px;
        color: #FAF0F7;
        background-color: #B80920;
        border: 2px solid #B80920;
        border-radius: 3px;
        cursor: pointer;

    }

    /*----------Bottom Navigation for media (min-width: 1201px) -------------*/
    #Bottom-navigation {
        max-width: 100%;
        margin: 0;
    }

    #Bottom-container {
        max-width: 100%;
        height: 80px;
    }

    .navbar-inverse.navbar-fixed-bottom div.container {
        height: 105%;
    }

    #Social-media {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 38%;
        margin: 5px auto;
        padding-right: 2%;
    }

    #Social-media > a > i {
        padding-right: 20px;
        color: #23252f;
        font-size: 24px;
    }
    #Social-media > a > i {
        font-size: 18px;
        transition: all 0.3s ease-in-out;
    }

    #Social-media > a > i:hover,
    #Social-media > a > i:focus {
        color: rgba(255, 255, 255, 0.9);
        transform: scale(1.5);

    }
    #Social-media > a:hover,
    #Social-media > a:focus {
        color: rgba(255, 255, 255, 0.9);
        transform: scale(1.5);
    }


    #Copyright.navbar-text {
        display: inline-block;
        position: absolute;
        left: -5%;
        width: 55%;
        margin: 5px auto;
        padding: 0;
    }

    #Copyright p {
        font-size: 16px;
    }

    /*---------about-me-modal dialog for media (min-width: 1201px) ----- */
    .modal {
        width: 100%;
        height: 100%;
        background-color: rgba(199, 155, 27, 0.6);
        opacity: 0.3;
        transition: opacity 0.2s;;
    }

    .modal-dialog {
        width: 520px;
        /* height: 66.667%; */
        height: 375px;
        margin: 1%;
        background-color: #23252f;

        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
        border-radius: 3px;
        transition: margin 0.2s;
        z-index: 100
    }

    .modal-dialog #close-button {
        width: 24px;
        height: 24px;
        background-image: url("../img/close_icon.png");
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 8px;

    }

    .modal-content {
        width: 520px;
        height: 375px;
    }

    .modal-title {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;

    }

    .modal-dialog .modal-body {
        height: 66%;
        width: 100%;
        background-color: #23252f;
        color: #fff;
    }

    #about-me-modal.left-half {
        width: 50%;
        height: 100%;
        float: left;
        padding: 0;
        margin: 0;
    }

    #about-me-modal.right-half {
        width: 50%;
        height: 100%;
        float: right;
        padding: 0;
        margin: 0;
    }

    #about-me-modal.left-half.title,
    #about-me-modal.right-half.title {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 900;
        margin-bottom: 2px;
        background-color: #23252f;
        color: #c79b1b;

    }

    #about-me-modal.right-half .body-right {
        font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
        font-size: 8px;
        text-align: center;
        line-height: 1.333em;
        letter-spacing: 2px;

    }

    /*---Left-half of about-me-modal Dialog for media (min-width: 1201px) ----*/
    div.title-left {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px;
        margin-left: 4%;
        margin-bottom: 5px;
        background-color: #23252f;
        color: #c79b1b;

    }

    div.body-left p {
        font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
        font-size: 9px;
        text-align: left;
        line-height: 1.333em;
        letter-spacing: 2px;
        margin: 0;
        padding-left: 0;

    }

    /*----Right-half of the about-me-modal Dialog for media (min-width: 1201px) ----*/
    div.title-right {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 4%;
        background-color: #23252f;
        color: #c79b1b;

    }

    div.body-right {
        font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
        font-size: 9px;
        text-align: center;
        margin-left: 3%;
        line-height: 1.333em;
        letter-spacing: 2px;

    }

}




